/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD:app/assets/stylesheets/application.css.scss
=======

>>>>>>> 961698b1369c8aae8de9fc786658e2e89ceca7de:app/assets/stylesheets/application.css.scss
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

<<<<<<< HEAD:app/assets/stylesheets/application.css.scss

=======
 .product-price{
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 30px;
    font-weight: bold;
    color: #ff007c;
 }
>>>>>>> 961698b1369c8aae8de9fc786658e2e89ceca7de:app/assets/stylesheets/application.css.scss
